@page
@model CourseWeb.Pages.Home.LogoutModel
@{
    Layout = "../Shared/_Layout.cshtml";

}
@if (!string.IsNullOrEmpty(Model.LogoutError))
{
    <div class="alert alert-danger">@Model.LogoutError</div>
}