@page
@model EduCore.Web.Pages.Home.LogoutModel
@{
    Layout = "../Shared/Layouts/Student/_Layout.cshtml";

}
@if (!string.IsNullOrEmpty(Model.LogoutError))
{
    <div class="alert alert-danger">@Model.LogoutError</div>
}